div#listItems { 
    border: 2px solid black; 
    width: 800px; 
    height: 250px; 
    margin-left: 35px; 
    margin-top: 50px;
}  

div#tasks {
    margin-left: 25px;
} 

form#block {
    margin-left: 35px; 
    margin-top: 20px;
} 

header#Introduction { 
    text-align: center;
}

